<div class="container">
    <div class="card shadow-sm w-75 mx-auto">
        <h5 class="card-header text-white">Cadastrar Produto</h5>
        <div class="card-body p-0">
            <div class="p-3">
                <form [formGroup]="createProdutoForm" class="row g-3" (ngSubmit)="createProduto()">
                    <app-input formControlName="nome" [label]="'Nome'" [errorMessage]="getErrorMessage('nome')"
                        [submitted]="submitted"></app-input>
                    <app-select formControlName="categoria" [label]="'Categoria'"
                        [placeholder]="'Selecione a categoria...'" [options]="produtoCategoriaOpt"
                        [errorMessage]="getErrorMessage('categoria')" [submitted]="submitted"></app-select>
                    <app-select formControlName="unidadeControle" [label]="'Unidade de Controle'"
                        [placeholder]="'Selecione a unidade de controle...'" [options]="unidadeControleOpt"
                        [errorMessage]="getErrorMessage('unidadeControle')" [submitted]="submitted"></app-select>
                    <div class="row justify-content-end gap-2 p-0 mt-2">
                        <button class="btn app-btn-gray col-3" type="button" (click)="resetForm()">
                            Limpar
                        </button>
                        <button class="btn app-btn-blue col-3" type="submit">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>