<div class="container">
    <div class="card shadow-sm">
        <h5 class="card-header text-white">Produtos</h5>
        <div class="card-body p-0">
            <div class="table-responsive" *ngIf="produtos().length > 0">
                <table class="table table-striped table-hover table-sm align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Categoria</th>
                            <th>Unidade de Controle</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produto of produtos()">
                            <td>{{ produto.id }}</td>
                            <td>{{ produto.nome }}</td>
                            <td>{{ produto.categoria }}</td>
                            <td>{{ produto.unidadeControle }}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-primary me-1" (click)="openUpdateProdutoModal(produto.id)">
                                    Editar
                                </a>
                                <a class="btn btn-sm btn-outline-danger" (click)="removeProduto(produto.id)">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="produtos().length === 0" class="text-center text-muted py-3">
                Nenhum registro encontrado.
            </div>
        </div>
    </div>
</div>

<app-modal [title]="'Atualizar informações do produto'" [isOpen]="showUpdateProdutoModal" [fade]="true"
    [customFooter]="true" (onClose)="closeUpdateProdutoModal()">
    <form [formGroup]="updateProdutoForm" class="row g-3" (ngSubmit)="updateProduto()">
        <app-input formControlName="nome" [label]="'Nome'"
            [errorMessage]="getErrorMessage('nome')" [submitted]="submitted"></app-input>
        <app-select formControlName="categoria" [label]="'Categoria'" [placeholder]="'Selecione a nova categoria...'"
            [options]="produtoCategoriaOpt" [errorMessage]="getErrorMessage('categoria')" [submitted]="submitted"></app-select>
        <app-select formControlName="unidadeControle" [label]="'Unidade'" [placeholder]="'Selecione a unidade de controle...'"
            [options]="unidadeControleOpt" [errorMessage]="getErrorMessage('unidadeControle')" [submitted]="submitted"></app-select>
        <div modal-footer class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn app-btn-blue">Salvar</button>
            <button type="button" class="btn app-btn-red" (click)="closeUpdateProdutoModal()">
                Cancelar
            </button>
        </div>
    </form>
</app-modal>